<template>
  <div class="about container">
    <h1>About</h1>
    <!-- <Wip /> -->
    <div class="paragraph">
      My name is
      <b>Florent Landuré,</b> I am a Front-end Developer from France.
    </div>
    <br>

    <div class="paragraph">I mainly work with
      <div class="text-with-image" style="color: #b52e31">
        <b-icon icon="angular"></b-icon>Angular&nbsp;
      </div>and
      <div class="text-with-image" style="color: #c69">
        <b-icon icon="sass"></b-icon>Sass
      </div>. I also use
      <div class="text-with-image" style="color: #42b883">
        <b-icon icon="vuejs"></b-icon>VueJS&nbsp;
      </div>on home projects and keep up to date with
      <div class="text-with-image" style="color: #00d8ff">
        <b-icon icon="react"></b-icon>React&nbsp;
      </div>updates.
    </div>

    <div class="paragraph">
      Even though Front-end is my speciality, I am mostly a JavaScript lover
      this is why I also take interest in NodeJS.
    </div>
    <br>

    <div class="paragraph">
      My biggest passions are eSports, new technologies and web design.
      My dream would be to combine those three passions in my day to day life.
    </div>
    <br>
    <br>

    <h2>Social medias</h2>
    <div class="contact-grid">
      <ContactCard v-for="media in medias" :key="media.name" :media="media"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ContactCard from '@/components/ContactCard.vue';

export default Vue.extend({
  components: {
    ContactCard
  },
  data() {
    return {
      medias: [
        {
          name: 'LinkedIn',
          icon: 'linkedin',
          url: 'http://linkedin.com/in/florent-landuré-060808b2',
          hexColor: '#0077b5',
          darkBg: true
        },
        {
          name: 'Github',
          icon: 'github-face',
          url: 'https://github.com/florentlandure',
          hexColor: '#333333',
          darkBg: true
        }
      ]
    };
  }
});
</script>

<style lang="scss">
@import "../assets/styles/variables";

.text-with-image {
  display: inline-flex;
  align-items: baseline;

  span.icon {
    height: 1rem;
  }
}

.contact-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;

  :not(:first-child) {
    margin-left: 2rem;
  }

  @media #{$medium} {
    justify-content: flex-start;
  }
}
</style>


