<template>
  <div class="home">
    <div class="title-container">
      <h1 class="title">
          Florent
          <span class="caps color-primary">Landuré</span>
        </h1>
        <h2
          class="subtitle">
          Front-end Developer
        </h2>

        <router-link to="/about" class="discover custom-button">
          Get to know me
          <b-icon icon="chevron-right"></b-icon>
        </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<style lang="scss">
@import '../assets/styles/variables';
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  .title {
    position: relative;
    width: fit-content;
    white-space: nowrap;
    font-family: 'Permanent marker', 'Montserrat', sans-serif;

    color: $indigo-light;

    @media #{$medium} {
      font-size: 3.5rem;
    }

    @media #{$large} {
      font-size: 4rem;
    }

    &:after {
      content: '';
      height: 2px;
      background: $indigo-light;
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      animation: slide-ltr-bounce 6s;
    }

    &-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 50%;
      top: calc(50% + 40px);
      transform: translate(-50%, -50%);
    }
  }

  .subtitle {
    font-weight: normal;
    white-space: nowrap;
    padding-top: 24px;
    margin: 0;
    animation: slideUp-fadeIn 2.2s;
    color: $primary-color;

    @media #{$medium} {
      font-size: 2rem;
    }

    @media #{$large} {
      font-size: 2.5rem;
    }
  }

  .discover {
    transform: translateY(80px);
  }
}
</style>

