<template>
  <div class="work container">
    <h1>Work</h1>

    <div class="editor">
      <aside class="explorer">
        <div class="header">Explorer</div>

        <div class="files">
          <div class="folder" :class="{ 'is-open': isFolderOpen('Projects') }">
            <div class="folder-name" @click="toggleFolder('Projects')">
              <b-icon icon="folder"></b-icon>Projects
            </div>

            <!-- Key = <folderName>_<filename> -->
            <div class="file" @click="openFile('projects_file-one')">
              <b-icon icon="file"></b-icon>File name
            </div>
            <div class="file">
              <b-icon icon="file"></b-icon>File name
            </div>
            <div class="file">
              <b-icon icon="file"></b-icon>File name
            </div>
          </div>
        </div>
      </aside>

      <div class="current-file">Current file</div>

      <div class="file-info"></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  components: {},
  data() {
    return {
      openFolders: [] as string[],
      currentFile: ''
    };
  },
  methods: {
    toggleFolder(name: string) {
      const foundIndex = this.openFolders.indexOf(name);
      if (foundIndex > -1) {
        this.openFolders.splice(foundIndex, 1);
      } else {
        this.openFolders.push(name);
      }
    },
    openFile(key: string) {
      this.currentFile = this.currentFile === key ? '' : key;
    },
    isFolderOpen(name: string) {
      return this.openFolders.indexOf(name) > -1;
    }
  }
});
</script>


<style lang="scss">
@import "../assets/styles/variables";

.work {
  .editor {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 500px;
    margin-bottom: 2rem;
  }

  .explorer {
    flex: 1;
    background: darken($indigo, 3);
    color: $grey-medium;

    .header {
      padding: 0.5rem calc(0.5rem + 5px);
      font-weight: bold;
    }

    .files {
      padding: 0.5rem;
    }

    .folder {
      .folder-name {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        cursor: pointer;
      }

      .icon {
        margin-right: 0.5rem;
        .mdi:before {
          font-size: 1.2em;
        }
      }

      &.is-open {
        .file {
          display: block;
        }
      }

      .file {
        display: none;
        padding: 0.25rem 0.5rem 0.25rem 1rem;
        cursor: pointer;
      }
    }
  }

  .current-file {
    flex: 4;
    background: $indigo;
    color: $blue;
  }

  .file-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
</style>
