<template>
  <a
    :href="media.url"
    target="_blank"
    class="circle-header"
    :class="{ 'light-text': media.darkBg }"
    :style="{ background: media.hexColor }"
  >
    <b-icon :icon="media.icon" size="is-medium"></b-icon>
  </a>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    media: Object
  }
});
</script>

<style lang="scss">
@import "../assets/styles/variables";

.circle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 7px solid;
  text-decoration: none;
  color: inherit;
  transition: transform 0.4s;

  &:active,
  &:focus {
    color: white;
  }

  &:hover {
    color: white;
    transform: scale(1.1);
  }
}

.light-text {
  color: white;
}
</style>

