<template>
  <nav class="main-nav" :class="{ 'is-open': isOpen }">
    <router-link to="/">
      <img src="../assets/logo.png" class="logo">
    </router-link>

    <div class="burger-menu" @click="toggleMenu()">
      <b-icon icon="menu" size="is-medium"></b-icon>
    </div>

    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/work">Work</router-link>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggleMenu() {
      this.isOpen = !this.isOpen;
    }
  },
  watch: {
    $route(to, from) {
      this.isOpen = false;
    }
  }
});
</script>

<style lang="scss">
@import "../assets/styles/variables";
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1rem;
  min-height: 97px;

  @media #{$small} {
    padding: 20px 30px;
  }

  .logo {
    width: 50px;

    @media #{$small} {
      visibility: hidden;
    }
  }

  .burger-menu {
    cursor: pointer;

    @media #{$small} {
      display: none;
    }
  }

  &.is-open {
    @media screen and (max-width: $small-bp) {
      .burger-menu {
        position: fixed;
        right: 1rem;
        top: 30px;
        color: white;
        z-index: 1000;
      }

      .logo {
        position: fixed;
        left: 1rem;
        top: 20px;
        z-index: 1000;
      }

      #nav {
        transform: translateX(-100%);
      }
    }
  }
}

#nav {
  @media screen and (max-width: $small-bp) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    padding: 97px 1rem 0;
    color: white;
    background: linear-gradient(to left, #00414f 0%, #293548 100%);
    transition: transform 0.4s;
    z-index: 999;

    a {
      text-align: right;
      margin: 2rem 0;
    }
  }

  @media #{$small} {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .close-menu {
      display: none;
    }
  }

  a {
    position: relative;
    font-weight: bold;
    margin-left: 20px;
    padding: 0 2px 10px;
    transition: color 0.2s;

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      background: $indigo-light;
      transition: width 0.4s;
    }

    &:hover {
      border-color: inherit;

      &:after {
        width: 100%;
      }
    }

    &.router-link-exact-active {
      color: $primary-color;
      border-color: inherit;

      &:after {
        width: 100%;
        background: $primary-color;
      }
    }
  }
}
</style>
