<template>
  <div class="wip">
    <b-icon icon="code-tags"></b-icon>
    <h1>This is a Work In Progress</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({});
</script>


<style lang="scss">
@import '../assets/styles/variables';

.wip {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    height: 100%;
    color: $accent-color;

    .mdi:before {
      font-size: 6rem;
    }
  }
}
</style>

