<template>
  <div id="app" :class="{ 'homepage-bg': isHomepage() }">
    <Navbar/>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '@/components/Navbar.vue';

export default Vue.extend({
  components: {
    Navbar
  },
  data() {
    return {
      navBlacklist: []
    };
  },
  methods: {
    isHomepage(): boolean {
      const activeRoute = this.$router.currentRoute;
      return activeRoute ? activeRoute.name === 'home' : false;
    }
  }
});
</script>


<style lang="scss">
@import "./assets/styles/variables";
#app {
  &.homepage-bg {
    background: url("./assets/images/tea-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;

    .container {
      height: auto;
    }
  }

  .container {
    height: calc(100vh - 96px);
    padding: 0 1rem;

    @media #{$large} {
      padding: 0;
    }

    > h1 {
      margin-bottom: 2rem;
    }

    .wip {
      position: absolute;
      top: calc(50% - 48px);
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .paragraph {
    font-size: 1.3rem;
  }
}
</style>
