.view-fade-enter-active,
.view-fade-leave-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  bottom: 20px;
  right: 0;
  left: 0;
  transition: all 0.6s;
}

.view-fade-enter-to
.view-fade-leave {
  opacity: 1;
  margin-left: 0;
}

.view-fade-enter,
.view-fade-leave-to {
  opacity: 0;
  margin-left: 100vh;
}
