$primary-color: #41e09e;
$accent-color: #f2225d;
$indigo: #293548;
$indigo-light: #00414f;
$grey-dark: #262626;
$grey-medium: #c4c4c4;
$grey-light: #f1f1f1;
$blue: #49dbff;

$small: 'screen and (min-width: 500px)';
$medium: 'screen and (min-width: 720px)';
$large: 'screen and (min-width: 1088px)';
$small-bp: 500px;
$medium-bp: 720px;
$large-bp: 1088px;
$container-size: calc(100vw - 40px);

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
