@import 'variables';
@import 'transitions';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: $grey-light;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', 'Avenir', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: linear-gradient(180deg, #00414f 0%, #293548 100%);
  color: $indigo-light;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $indigo-light;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.color-primary {
  color: $primary-color;
}

.color-accent {
  color: $accent-color;
}

.square {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.caps {
  text-transform: uppercase;
}

.custom-button {
  padding: 10px 20px;
  border: 1px solid $indigo-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
  border-radius: 50px;

  > span {
    transition: transform 0.4s;
  }

  &:hover {
    border: 1px solid $accent-color;
    background: $accent-color;
    color: white;

    > span {
      transform: translateX(6px);
    }
  }
}
